<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>PickEM</title>
	<% include head.ejs %>
</head>
<body>
<div class="container">

    <% include nav.ejs %>
	<div class="jumbotron text-center">
		<h1><span class="fa fa-frown-o"></span> Sorry!</h1>
        We could not locate your page
	</div>

</div>
</body>
</html>