<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>PickEM</title>
	<% include head.ejs %>
</head>
<body>
<div class="container">

    <% include nav.ejs %>
	<div class="jumbotron text-center">
		
	</div>

</div>
</body>
</html>